<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="layout/default :: head('学生错题分析','')"></head>

<body class="">

    <div id="wrapper">
        <nav th:replace="layout/default :: nav"></nav>
        <div id="page-wrapper" class="gray-bg" >
            <!--铃铛 邮件 退出-->
            <div class="row border-bottom" >
                <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                        </li>
                        <li>
                            <a href="javascript:;" th:onclick="'javascript:userLogOut()'">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>

                        </li>
                    </ul>

                </nav>
            </div >
            <!--面包屑-->
            <input id="studentId" th:value="${student.id}" type="hidden">
            <div class="row wrapper border-bottom white-bg page-heading" >
                <div class="col-sm-4">
                    <h2 ><span th:text="${student.name}"></span>的错题分析</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">学生管理</a>
                        </li>
                        <li class="active">
                            <strong>错题分析</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-8">
                    <div class="title-action">
                        <a href="#" class="btn btn-primary" onclick="backPrevious()" >返回</a>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5> 知识点错误次数统计</h5>
                                <div class="ibox-tools">
                                    <input class="Wdate " name="start_time" id="start_time" readonly="readonly" type="text"  onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'end_time\')}'})" >&nbsp;&nbsp;至&nbsp;
                                    <input class="Wdate " name="end_time" id="end_time" readonly="readonly" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'start_time\')}'})"  >
                                    <button class="btn btn-primary btn-xs" type="button"  onclick="reloadTable()"><i class="fa fa-search"></i> </button>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content"  id="knowledgeWrongNum" style="height:325px ">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-9">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>知识点频次分析</h5>
                            <div class="ibox-tools">
                                <select id="knowledgeSelect" style="width:150px;" onchange="changeKnowledgeSelect();">
                                </select>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content"  id="knowledgeFrequency" style="height:325px ">

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>重点知识统计</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content"  id="keyKnowledge" style="height:325px ">

                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div th:replace="layout/default :: foot"></div>
        </div>
    </div>
    <div th:replace="layout/default :: js('/js/service/analysisOfMistakenQuestion.js,/js/plugins/echart/echarts.js')"></div>
</body>

</html>
