<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="layout/layout">

<body >
<div class="row wrapper border-bottom white-bg page-heading" th:fragment="pageTitle">
    <div class="col-sm-4">
        <h2>知识管理</h2>
    </div>
    <div class="col-sm-8">
        <!--页面按钮-->
        <div class="title-action">
            <a data-sec-authorize="hasRole('ROLE_ADMIN')" href="#" class="btn btn-success" onclick="clearPid()">清空选中</a>
            <a data-sec-authorize="hasRole('ROLE_ADMIN')" href="#" class="btn btn-primary" onclick="addKnowledge()">新增</a>
            <a data-sec-authorize="hasRole('ROLE_ADMIN')" href="#" class="btn btn-primary" onclick="editKnowledge()" >编辑</a>
            <a data-sec-authorize="hasRole('ROLE_ADMIN')" href="#" class="btn btn-primary" onclick="deleteKnowledge()">删除</a>
            <a href="#" class="btn btn-primary" onclick="jQuery('#treeTable').treetable('expandAll'); return false;">展开</a>
            <a href="#" class="btn btn-primary" onclick="jQuery('#treeTable').treetable('collapseAll'); return false;">关闭</a>
        </div>
    </div>
</div>
<!--页面内容-->
<div class="wrapper wrapper-content animated fadeInRight" th:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>知识列表</h5>
                </div>
                <div class="ibox-content">
                    <table id="treeTable"  class="ui-jqgrid-htable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div  th:fragment="jsDiv">
    <script th:src="@{/js/plugins/treetable/jquery.treetable.js}"></script>
    <script th:src="@{/js/service/knowledge.js}"></script>

</div>
<div  th:fragment="modal">
    <div class="modal inmodal" id="knowledgeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"  onclick="clearForm();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-book modal-icon"></i>
                    <h4 class="modal-title">知识表单</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="knowledgeForm">
                        <input type="hidden" id="form_id" name="id">
                        <input type="hidden" id="form_pid" name="pid">
                        <div class="form-group"><label>上级知识</label> <input type="text" id="form_parent" disabled="disabled"  placeholder="" class="form-control" name="parent"></div>
                        <div class="form-group"><label>知识标题</label> <input type="text" id="form_name"  placeholder="请填写知识标题" class="form-control" name="name"></div>
                        <div class="form-group"><label>知识级别</label>
                            <select class="form-control m-b" id="form_type"  name="type">
                                <option value="">请选择等级</option>
                                <option value="0">非重点</option>
                                <option value="1">重点</option>
                            </select>
                        </div>
                        <div class="form-group"><label>排序</label> <input type="text" id="form_sort"  placeholder="请填写正整数" class="form-control" name="sort"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal" onclick="clearForm();">关闭</button>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
