<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="layout/default :: head('错题管理','')"></head>

<body class="">

<div id="wrapper">
    <nav th:replace="layout/default :: nav"></nav>
    <div id="page-wrapper" class="gray-bg" >
        <!--铃铛 邮件 退出-->
        <div class="row border-bottom" >
            <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                    </li>
                    <li>
                        <a href="javascript:;" th:onclick="'javascript:userLogOut()'">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>

                    </li>
                </ul>

            </nav>
        </div >
        <!--面包屑-->
        <input id="studentId" th:value="${student.id}" type="hidden">
        <div class="row wrapper border-bottom white-bg page-heading" >
            <div class="col-sm-4">
                <h2 ><span th:text="${student.name}"></span>的错题</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">学生管理</a>
                    </li>
                    <li class="active">
                        <strong>错题管理</strong>
                    </li>
                </ol>
            </div>
            <div class="col-sm-8">
                <div class="title-action">
                    <!--操作按钮-->
                    <a href="#" class="btn btn-primary" onclick="uploadWrongQuestion()">新增错题</a>
                    <a href="#" class="btn btn-primary" onclick="exportWrongQuestion()">批量导出错题</a>
                    <a href="#" class="btn btn-primary" onclick="reloadTable()">刷新</a>
                    <a href="#" class="btn btn-primary" onclick="backPrevious()" >返回</a>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>错题列表</h5>
                            <div class="ibox-tools">
                                <input class="Wdate " name="start_time" id="start_time" readonly="readonly" type="text"  onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'end_time\')}'})" >&nbsp;&nbsp;至&nbsp;
                                <input class="Wdate " name="end_time" id="end_time" readonly="readonly" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'start_time\')}'})"  >
                                <button class="btn btn-primary btn-xs" type="button"  onclick="reloadTable()"><i class="fa fa-search"></i> </button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example"  id="wrongQuestion_table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>错题信息</th>
                                        <th>级别</th>
                                        <th>知识点</th>
                                        <th>时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                        <th>ID</th>
                                        <th>错题信息</th>
                                        <th>级别</th>
                                        <th>知识点</th>
                                        <th>时间</th>
                                        <th>操作</th>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="layout/default :: foot"></div>
    </div>
</div>

<div class="modal inmodal" id="wrongQuestionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"  onclick="clearWrongForm();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-file-excel-o modal-icon"></i>
                <h4 class="modal-title">错题表单</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="wrongQuestionForm" >
                    <input type="hidden" id="form_student_id" name="studentId">
                    <div class="form-group"><label>错题标识</label> <input type="text" id="form_name"  placeholder="用于区分重复错题" class="form-control" name="name"></div>
                    <div class="form-group"><label>知识点代码</label> <input type="text" id="form_code"  placeholder="" class="form-control" name="code"></div>
                    <div class="form-group">
                        <label>错题级别</label>
                        <select id="form_level"  class="form-control" name="level">
                            <option value="">--请选择错题级别--</option>
                            <option value="0">简单</option>
                            <option value="1">普通</option>
                            <option value="2">复杂</option>
                        </select>

                    </div>
                    <div class="form-group"><label>上传错题</label> <input type="file" id="form_file"  placeholder="" class="form-control" name="file"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal" onclick="clearWrongForm();">关闭</button>
                        <button type="submit" class="btn btn-primary" >保存</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal inmodal" id="exportModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"  onclick="clearExportForm();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-file-excel-o modal-icon"></i>
                <h4 class="modal-title">导出表单</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="exportForm" th:action="@{/wrongQuestion/exportStudentWrongQuestion}" method="GET">
                    <input type="hidden" id="export_form_student_id" name="studentId">
                    <div class="form-group"><label>知识点代码</label> <input type="text" id="export_form_code"  placeholder="" class="form-control" name="code"></div>
                    <div class="form-group">
                        <label>错题级别</label>
                        <select id="export_form_level"  class="form-control" name="level">
                            <option value="">--请选择错题级别--</option>
                            <option value="0">简单</option>
                            <option value="1">普通</option>
                            <option value="2">复杂</option>
                        </select>
                    </div>
                    <div class="form-group"><label>开始日期</label>
                        <input class="Wdate form-control"  name="export_start_time" id="export_start_time" readonly="readonly" type="text"  onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'export_end_time\')}'})" >
                    </div>
                    <div class="form-group"><label>结束日期</label>
                        <input class="Wdate form-control"  name="export_end_time" id="export_end_time" readonly="readonly" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'export_start_time\')}'})"  >
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal" onclick="clearExportForm();">关闭</button>
                        <button type="submit" class="btn btn-primary" >导出</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<form th:action="@{/wrongQuestion/downloadWrongQuestion}" method="GET" style="display: none" id="downloadWrongQuestionForm">
    <input type="text" id="download_id" name="id">
</form>

<div th:replace="layout/default :: js('/js/service/wrongQuestion.js')"></div>

</body>

</html>
